body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #7f1717;
}

h1, h2 {
    color: #333;
}

.main-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.left-panel {
    width: 35%;
}

.right-panel {
    width: 65%;
}

form {
    background: rgb(94, 14, 14);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #000000;
    color: rgb(255, 254, 254);
    border: none;
}

table {
    width: 100%;
    background: rgb(11, 4, 99);
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}